<div class="app bg-light">
  <div class="layout h-100">
    <div class="action p-3">
      <h1>Lookup the weather</h1>
      <div class="d-flex align-items-center shadow-sm btn-group">
        <input class="form-control" [(ngModel)]="query" placeholder="Enter the name of a city" />
        <button class="btn btn-primary" (click)="search()">search</button>
      </div>
    </div>
    <div class="history d-flex flex-column justify-content-center">
      <div *ngIf="cities.length" class="border border-secondary shadow m-3 rounded-3 p-3">
        <h2>Recently searched</h2>
        <ul class="list-unstyled d-flex flex-column-reverse">
          <li *ngFor="let city of cities; let i = index" class="d-flex flex-column m-1">
            <div class="btn-group active">
              <a (click)="searchCity(city)" class="btn btn-block btn-primary flex-grow-1">{{city}}</a>
              <button (click)="deleteCity(i)" class="btn btn-block btn-danger flex-grow-0">&times;</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="result d-flex flex-column">
      <div *ngIf="response" class="alert alert-danger m-2">
        <b>Error:</b>
        {{response.error.message}}
      </div>
      <weather-display [weatherInfo]="weatherInfo"></weather-display>
    </div>

  </div>
</div>
